.work-flow-tabs {
  border: none;
  margin-bottom: 0;
}

.work-flow-tabs .ant-tabs-nav {
  margin-bottom: 0;
  border-bottom: none;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #ffffff;
}
.work-flow-tabs .ant-tabs-content-holder {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
}